#hero-container {
    width: 100%;
}

#hero-wrapper {
    width: 100%;
    aspect-ratio: 10/4;
    height: auto;
    position: relative;
}

#hero-banner {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
    width: 100%;
    height: 100%;
}

.hero-slider {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
    z-index: 2;
    padding: 1rem;
    color: white;
    opacity: 0.67;
    cursor: pointer;
    transition-duration: 150ms;
}

.hero-slider:hover {
    opacity: 1;
}

.hero-slider i {
    font-size: 2rem;
}

#hero-prev {
    left: 1rem;
}

#hero-next {
    right: 1rem;
}

.slide {
    position: absolute;
    inset: 0;
    width: 100%;
    height: fit-content;
    opacity: 0;
    transition-duration: 150ms;
}

.slide[data-active] {
    opacity: 1;
}

.slide img {
    display: block;
    width: 100%;
    aspect-ratio: 10/4;
    height: auto;
    object-fit: cover;
}

#box {
    padding: 1rem 1.5rem;
    position: relative;
    height: fit-content;
}

.carrousel-container {
    width: 100%;
    max-width: 100%;
    margin-bottom: 3.0rem;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 20;
}

#sliders {
    display: flex;
    align-items: center;
    gap: 2.0rem;
}

#slider-buttons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}


#sliders h2 {
    width: 320px;
    max-width: 50%;
    text-overflow: hidden;
}

.carrousel-wrapper {
    display: inline-flex;
    gap: 1.25rem;
    transition: transform 0.33s ease;
    overflow-y: hidden;
    position: absolute;
    z-index: 10;
}

.carrousel-card-h {
    height: 160px;
    width: fit-content;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition-duration: 150ms;
}

.carrousel-card-h:hover {
    box-shadow: 0px 0px 6px 6px rgba(0,0,0,0.75);
    cursor: pointer;
}

.carrousel-card-h img {
    height: 100%;
    aspect-ratio: 5/3;
    width: auto;
}